
@import "variables";

@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin hideOnMobile() {
    @media (max-width:$mobile-breakpoint) {
        display: none !important;
    }
}
@mixin hideOnTablet() {
    @media (max-width:$tablet-breakpoint) {
        display: none !important;
    }
}
@mixin hideOnDesktop() {
    @media (min-width:$desktop-breakpoint) {
        display: none !important;
    }
}
@mixin centerOnMobile(){
    @media(max-width:$mobile-breakpoint){
        text-align: center !important;
    }
}
@mixin greenTag(){
    background: $color-green-2;
    border-radius: 12px;
    padding: 0px 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    cursor:pointer;
    font-size: 12px;
    line-height: 18px;
    color:$color-green-1;
}
@mixin author-span {
    font-family: "Open Sans";
            font-size: 12px;
            color:$color-black-1;
            line-height: 16px;
    
}
@mixin arrows{
    .arrow-left {
        margin-left: 5px;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;
        width: 32px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        height: 48px;
        background-color: $color-black-1;
        display: flex;
        align-items: center;
        cursor:pointer;
        justify-content: center;
        padding: 0;
  
        i {
          color: #fff;
          font-size: 24px;
        }
        &.right{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 25%;
          border-bottom-right-radius: 25%;
          i {
              z-index: 1;
              color: #fff;
              font-size: 24px;
            }
        }
      }
}