@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin hideOnMobile() {
    @media (max-width:$mobile-breakpoint) {
        display: none !important;
    }
}
@mixin hideOnTablet() {
    @media (max-width:$tablet-breakpoint) {
        display: none !important;
    }
}
@mixin centerOnMobile(){
    @media(max-width:$mobile-breakpoint){
        text-align: center !important;
    }
}
@mixin greenTag(){
    background: $color-green-2;
    border-radius: 12px;
    padding: 0px 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color:$color-green-1;
}
@mixin author-span {
    font-family: "Open Sans";
            font-size: 12px;
            color:$color-black-1;
            line-height: 16px;
    
}