$color-black-1: #151515;
$color-green-1: #6a983c;
$color-green-2: #f4f8ec;
$color-gray-1: #e4e4e4;
$color-gray-2: #f9f9f9;
$color-gray-3: #a9a9a9;
$color-gray-4: #f5f5f5;
$color-gray-5: #575757;
$color-gray-6: #d1d1d1;
$color-gray-7: #ebebeb;
$color-gray-8: #fdfdfd;
$color-yellow-1: #fdbc15;
$color-red-1: #e5704b;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1000px;
$desktop-breakpoint: 1400px;
