$color-black-1:#151515;
$color-green-1:#6A983C;
$color-green-2:#F4F8EC;
$color-gray-1:#e4e4e4;
$color-gray-2:#F9F9F9;
$color-gray-3:#A9A9A9;
$color-gray-4:#F5F5F5;
$color-gray-5:#575757;
$color-gray-6:#D1D1D1;
$mobile-breakpoint:768px;
$tablet-breakpoint:1000px;
$desktop-breakpoint:1400px;