.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}

.button-gray-1 {
  width: 167px;
  height: 48px;
  background: #f5f5f5;
  border-radius: 12px;
  font-family: "Poppins";
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-green-1 {
  width: 90px;
  height: 36px;
  border: 2px solid #46760a;
  border-radius: 12px;
  background-color: #6a983c !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  color: #ffffff;
}
.button-green-1.reset {
  background-color: transparent !important;
}

.button-border-green-1 {
  width: 163px;
  border: 2px solid #92c064;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-border-green-1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  line-height: 22px;
  color: #151515;
}
.button-border-green-1 i {
  font-size: 16px;
  color: #6a983c;
}

.products {
  background: #ffffff;
  display: block !important;
}
.products.blog-content {
  display: flex !important;
}
.products.blog-content .left-options {
  margin-right: 48px;
  margin-left: 45px;
}
.products .blog-products {
  margin-bottom: 57px;
  margin-right: 29px;
  margin-left: 29px;
}
.products .best-product {
  padding: 63px 45px 73px 45px;
  display: flex;
}
.products .best-product.blog {
  padding: 0;
}
.products .best-product-menu {
  margin-right: 110px;
}
.products .best-product-menu .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}
.products .best-product-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #6a983c;
  margin-bottom: 48px;
}
.products .best-product-menu ul.gray {
  color: #a9a9a9;
}
.products .best-product-menu ul li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 12px;
  margin-bottom: 12px;
}
.products .best-product-item {
  padding: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  margin-left: 31px;
  height: 322px;
}
.products .best-product-item.blog-product {
  border: none;
}
.products .best-product-item:first-child {
  margin-left: 0;
}
.products .best-product-item .item-rating {
  display: none;
}
.products .best-product-item.rating {
  height: 358px;
}
.products .best-product-item.rating .item-rating {
  display: block;
}
.products .best-product-item:last-child {
  margin-right: 0;
}
.products .best-product-item .image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.products .best-product-item .image img {
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  height: 180px;
}
.products .best-product-item .image .discount {
  font-family: "Poppins";
  left: 20px;
  top: 12px;
  position: absolute;
  z-index: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.products .best-product-item .item-title {
  margin-top: 16px;
  margin-bottom: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}
.products .best-product-item .item-description {
  font-family: "Poppins";
  font-style: normal;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #575757;
}
.products .best-product-item .item-description.for-rating {
  margin-bottom: 13px !important;
}
.products .best-product-item .item-rating {
  margin-bottom: 17px;
}
.products .best-product-item .item-rating .demo-icon {
  font-size: 18px;
  color: #151515;
}
.products .best-product-item .item-rating .demo-icon.first::before {
  margin-left: 0 !important;
}
.products .best-product-item .item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .best-product-item .item-footer .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #151515;
  line-height: 27px;
}
.products .best-product-item .first-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
}

@media (max-width: 768px) {
  .best-product {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }
  .best-product.show-on-mobile {
    flex-direction: row !important;
  }
  .best-product-item {
    margin: 0 auto !important;
  }
  .best-product-menu {
    margin-top: 20px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .best-product .left-options {
    margin: 0 !important;
  }
  .best-product .arrow-left {
    width: 32px;
    left: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    height: 48px;
    background-color: #151515;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 0;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }
  .best-product .arrow-left i {
    color: #fff;
    font-size: 24px;
  }
  .best-product .arrow-right {
    width: 32px;
    left: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    height: 48px;
    background-color: #151515;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 0;
    border-top-right-radius: 25% !important;
    border-bottom-right-radius: 25% !important;
  }
  .best-product .arrow-right i {
    z-index: 1;
    color: #fff;
    font-size: 24px;
  }
}/*# sourceMappingURL=best-product.css.map */