@import "../partials/variables";
@import "../partials/text/text";
@import "../partials/text/buttons";
@import "../partials/mixins";

.blog {
  padding: 65px 45px;
  display: block !important;
  padding-inline: 0;
  background-color: #fff;
  @media (max-width: $tablet-breakpoint) {
    display: none !important;
  }
  .routes {
    margin-bottom: 39px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    justify-content: space-between;

    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: $color-black-1;
    }

    .go-to {
      cursor: pointer;
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
      }

      i {
        color: $color-green-1;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    &:last-child {
      margin: 0;
      margin-right: 45px;
    }
    &.blog-container {
      margin-bottom: 48px;
    }
    .dinner-tips {
      margin-left: 45px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.blog-details-item {
        flex-direction: row;
        .dinner-content {
          display: flex;
          align-items: flex-end;

          .details {
            display: flex;
            align-items: center;
            padding-left: 200px;
            gap: 32px;
            padding-right: 170px;

            ul {
              @include reset-list();
              @include majority-poppins-text();
              font-weight: 600;
              width: 140px;
              font-size: 12px;
              margin-bottom: 35px;

              color: #fff;
              li {
                margin-bottom: 15px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
              &.gray-keys {
                color: $color-gray-3;
              }
            }
            .title {
              flex-wrap: wrap;
              &.blog-title {
                padding-top: 0;
                font-size: 32px;
                margin-bottom: 32px;
                line-height: 44px;
              }
            }
          }
        }
      }
      &.blog-dinner-tips {
        margin-left: 0;
      }
      .tag {
        width: 82px;

        @include greenTag();
      }

      .dinner-content {
        background-image: url("../../images/carrots-1.jpg");
        background-size: cover;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        .title {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 33px;
          margin-bottom: 8px;
          padding-left: 24px;
          padding-top: 76px;
          color: $color-black-1;
        }

        .author {
          display: flex;
          align-items: center;
          padding-left: 24px;
          padding-bottom: 24px;
          img {
            width: 32px;
            height: 32px;
            border-radius: 12px;
            margin-right: 8px;
          }

          span {
            @include author-span();
            margin-right: 16px;
            color:$color-black-1;
          }
        }
      }
    }

    .vegetables {
      img {
        height: 180px;
      }
      .tag {
        @include greenTag();
        margin-bottom: 8px;
        margin-top: 24px;
        padding: 0px 8px;
        width: 80px;
      }
      .title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $color-black-1;
      }
      .author {
        display: flex;
        span {
          margin-right: 16px;
          @include author-span();
        }
      }
    }

    .prepares {
      &-item {
        margin-bottom: 32px;
        display: flex;

        .text {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: $color-black-1;
        }
        img {
          width: 96px;
          height: 96px;
          margin-left: 48px;
          border-radius: 12px;
        }
        .author {
          @include author-span();
          span {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .blog {
    .content {
      justify-content: center;
      margin-top: 50px;
      &:first-child {
        margin: 20px;
      }
    }
  }
}
