@import "../partials/variables";
@import "../partials/text/text";
@import "../partials/text/buttons";
@import "../partials/mixins";

.blog {
  padding: 65px 45px;
  display: block !important;
  padding-inline: 0;
  background-color: #fff;
  .routes {
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;

    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: $color-black-1;
    }

    .go-to {
      cursor: pointer;
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
      }

      i {
        color: $color-green-1;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    &:first-child {
      margin-left: 45px;
    }
    &:last-child {
      margin-right: 45px;
    }
    &.blog-container {
      margin-bottom: 48px;
    }
    .dinner-tips {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .tag {
        width: 82px;

        @include greenTag();
      }

      .dinner-content {
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        .title {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 33px;
          margin-bottom: 8px;
          padding-left: 24px;
          padding-top: 76px;
          color: #ffffff;
        }

        .author {
          display: flex;
          align-items: center;
          padding-left: 24px;
          padding-bottom: 24px;
          img {
            width: 32px;
            height: 32px;
            border-radius: 12px;
            margin-right: 8px;
          }

          span {
            @include author-span();
            margin-right: 16px;
            color: #fff;
          }
        }
      }
    }

    .vegetables {
      margin-left: 31px;

      img {
        height: 180px;
      }
      .tag {
        @include greenTag();
        margin-bottom: 8px;
        margin-top: 24px;
        padding: 0px 8px;
        width: 80px;
      }
      .title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $color-black-1;
      }
      .author {
        display: flex;
        span {
          margin-right: 16px;
          @include author-span();
        }
      }
    }

    .prepares {
      &-item {
        margin-bottom: 32px;
        display: flex;

        .text {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: $color-black-1;
        }
        img {
          width: 96px;
          height: 96px;
          margin-left: 48px;
          border-radius: 12px;
        }
        .author {
          @include author-span();
          span {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .blog {
    .content {
      justify-content: center;
      margin-top: 50px;
    }
  }
}
