@import "../partials/variables";
@import "../partials/text/text";
@import "../partials/text/buttons";
@import "../partials/mixins";

.checkout-container {
  background-color: #fff;
  display: flex;
  .billing-info {
    margin-right: 48px;
    margin-left: 45px;
    .title {
      @include majority-poppins-text();
      font-size: 22px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 4px;
    }
    .info {
      @include majority-open-sans-text();
      color: $color-gray-3;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    form {
      .title {
        @include majority-poppins-text();
        font-size: 22px !important;
        font-weight: 600;
        margin-bottom: 4px;
      }
      .name {
        display: flex;
      }
      .contact {
        display: flex;
      }
      .address-town {
        display: flex;
      }
      .state-postalCode {
        display: flex;
        .choose-country {
          display: flex;
          align-items: center;
          position: relative;
          .demo-icon {
            position: absolute;
            right: 16px;
          }
        }
      }
      .change-address {
        margin-bottom: 64px;
        display: flex;
        align-items: center;
        background: $color-gray-2;
        border: 1px solid $color-gray-6;
        border-radius: 12px;
        width: 240px;
        @include majority-open-sans-text();
        font-size: 14px;
        height: 42px;
        padding-left: 16px;
        .square {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          position: relative;
          border: 1.5px solid $color-gray-6;
          i {
            position: absolute;
            font-size: 9px;
            top: 50%;
            transform: translate(-50%, -50%);
            left: calc(50% - 2px);
            display: none;
          }
          &.active {
            i {
              display: block;
            }
          }
        }
      }
      .basic-input {
        margin-bottom: 32px;
        margin-right: 32px;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        &:nth-child(even) {
          margin-right: 0;
        }
        input {
          background: $color-gray-2;
          border: 1px solid $color-gray-6;
          border-radius: 12px;
          width: 300px;
          height: 42px;
          &::placeholder {
            @include majority-open-sans-text();
            font-size: 14px;
            color: $color-gray-3;
            padding-left: 21px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-right: 16px;
          }
          &:focus {
            outline: none !important ;
            &::placeholder {
              text-align: left;
            }
          }
        }
        span {
          @include majority-poppins-text();
          font-size: 12px;
          font-weight: 600;
        }
      }
      .fed-ex {
        background: $color-gray-2;
        border: 1px solid $color-gray-6;
        border-radius: 12px;
        height: 48px;
        margin-top: 32px;
        margin-bottom: 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        &.dhl {
          margin-top: 0;
          .additional-price {
            margin-right: 0;
          }
        }
        &.paypal {
          margin-top: 0 !important;
        }
        &.btc {
          margin-top: 0;
        }

        .radio-button {
          display: flex;
          align-items: center;
          margin-left: 17px;
          cursor: pointer;
          .input {
            input {
              width: 20px;
              height: 20px;
              position: absolute;
              margin: 0;
              padding: 0;
              opacity: 0;
              & + .checkbox {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid $color-gray-6;
                margin-right: 18px;
              }
            }
          }
          span {
            @include majority-poppins-text();
            font-weight: 600;
            font-size: 12px;
          }
        }
        .additional-price {
          display: flex;
          align-items: center;
          margin-right: 42px;
          gap: 4px;
          span {
            @include majority-poppins-text();
            font-weight: 600;
            font-size: 12px;
            &.price {
              color: $color-green-1;
            }
          }
        }
        img {
          margin-right: 16px;
        }
      }
      .payment-method {
        margin-top: 64px;
        .credit-card {
          margin-top: 32px;
          .method {
            display: flex;
            justify-content: space-between;
            .input {
              display: flex;
              align-items: center;
              input {
                width: 20px;
                height: 20px;
                position: absolute;
                margin: 0;
                padding: 0;
                cursor: pointer;
                opacity: 0;
                & + .checkbox {
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  background-color: $color-green-1;
                  margin-right: 18px;
                }
                &:checked {
                  & + .checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::before {
                      content: "";
                      width: 10px;
                      border-radius: 50%;
                      height: 10px;
                      background-color: white;
                    }
                  }
                }
              }
              span {
                @include majority-poppins-text();
                font-weight: 600;
                font-size: 12px;
              }
            }
            .images {
              display: flex;
              gap: 16px;
            }
          }
          .card-details {
            .card-number {
              margin-bottom: 0;
              input {
                width: 100%;
              }
            }
            .inline-props {
              display: flex;
              .expiration-date {
                margin-right: 15px;
              }
              input {
                width: auto;
                margin: 0;
              }
            }
          }
        }
      }
      .additional-information {
        margin-top: 48px;
        .order-notes {
          input {
            width: 100%;
            padding-bottom: 82px;
          }
        }
      }
      .confirm {
        .info {
          margin-bottom: 32px;
        }
        .verify {
          display: flex;
          align-items: center;
          gap: 10px;
          background: $color-gray-2;
          border: 1px solid $color-gray-6;
          padding: 12px 16px;
          border-radius: 12px;
          margin-bottom: 16px;
          .check {
            width: 20px;
            height: 20px;
            cursor: pointer;
            border: 1.5px solid #d1d1d1;
          }
          span {
            @include majority-open-sans-text();
            font-size: 14px;
          }
        }
        .complete {
          margin-top: 16px;
          width: 220px;
          padding-top: 17px;
          padding-bottom: 17px;
        }
      }
      .img {
        margin-top: 34px;
        margin-bottom: 10px;
      }
      .title {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 2px;
      }
      .description {
        @include majority-open-sans-text();
        color: $color-gray-3;
        width: 200px;
        margin-bottom: 16px;
      }
    }
  }
  .order-summary {
    height: 700px;
    margin-right: 45px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    padding: 32px 16px;
    .title {
      @include majority-poppins-text();
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    .order-details {
      @include majority-open-sans-text();
      color: $color-gray-3;
    }
    .order-products {
      &-item {
        border-bottom: 1px solid $color-gray-2;
        .image {
          margin-right: 16px;
          margin-top: 40px;
          img {
            width: 100px;
            height: 67px;
          }
          .options {
            .option {
              margin-bottom: 8px;
              display: flex;
              gap: 7px;
              span {
                @include majority-open-sans-text();
                color: $color-gray-3;
              }
              .demo-icon {
                color: $color-red-1;
              }
              &.remove {
                .demo-icon {
                  color: $color-black-1;
                  font-weight: bold;
                }
              }
            }
          }
        }
        .order-product-details {
          margin-top: 40px;
          margin-left: 16px;
          .title {
            @include majority-poppins-text();
            font-weight: 500;
            font-size: 15px;
          }
          .details {
            margin-top: 4px;
            display: flex;
            ul {
              @include reset-list();
              @include majority-open-sans-text();
              margin-right: 14px;
              margin-bottom: 13px;
              &.keys {
                color: $color-gray-3;
              }
            }
          }
          .rating {
            margin-bottom: 18px;
            i {
              color: $color-yellow-1;
              &:last-child {
                color: $color-gray-7;
              }
            }
          }
          .buy-details {
            display: flex;
            align-items: center;
            .price {
              flex: 1;
              span {
                @include majority-poppins-text();
                font-size: 18px;
                color: $color-green-1;
                font-weight: 600;
              }
              .last-price {
                font-size: 12px;
                @include majority-poppins-text();
                font-size: 12px;
                font-weight: 600;
                color: $color-gray-3;
                text-decoration-line: line-through;
              }
            }
            .number-of-products {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 6px;
              margin-right: 25px;
              background: #f9f9f9;
              border: 1px solid #d1d1d1;
              border-radius: 12px;
              gap: 16px;
              .number {
                @include majority-open-sans-text();
                color: $color-gray-3;
                padding-right: 16px;
                font-size: 14px;
                border-right: 1px solid $color-gray-6;
              }
              .pcs {
                @include majority-poppins-text();
                font-weight: 400;
                font-size: 12px;
                color: $color-black-1;
                .demo-icon {
                  font-size: 6px;
                }
              }
            }
          }
        }
      }
    }
    .total-prices {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      ul {
        @include reset-list();
        &:last-child {
          text-align: right;
        }
        li {
          margin-bottom: 12px;
          @include majority-poppins-text();
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
    .promo-code {
      display: flex;
      margin-top: 32px;
      align-items: center;
      background: $color-gray-2;
      border: 1px solid $color-gray-6;
      border-radius: 12px;
      padding: 12px 22px;
      input {
        background-color: transparent;
        border: none;
        flex: 1;
        &::placeholder {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: $color-gray-3;
          flex: 1;
          display: block;
          width: 400px;
        }
        &:focus {
          outline: none !important ;
          text-align: center;
          &::placeholder {
            text-align: left;
          }
        }
      }
      span {
        @include majority-poppins-text();
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
      }
    }
    .total-order {
      display: flex;
      align-items: center;
      margin-top: 40px;
      justify-content: space-between;
      .date {
        display: flex;
        flex-direction: column;
        span {
          @include majority-poppins-text();
          font-weight: 600;
          font-size: 12px;
          &.delivery-date {
            @include majority-open-sans-text();
            color: $color-green-1;
          }
        }
      }
      .price {
        @include majority-poppins-text();
        font-weight: 600;
        font-size: 26px;
        color: $color-green-1;
        line-height: 39px;
      }
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  form {
    .basic-input {
      span {
        margin-bottom: 20px;
      }
    }
    .name {
      flex-direction: column;
      text-align: center;
      input {
        margin: 0 auto;
      }
    }
    .contact {
      flex-direction: column;
      text-align: center;
      input {
        margin: 0 auto;
      }
    }
    .address-town {
      flex-direction: column;
      text-align: center;
      input {
        margin: 0 auto;
      }
    }
    .state-postalCode {
      flex-direction: column;
      text-align: center;
      input {
        margin: 0 auto;
      }
    }
    .change-address {
      margin: 0 auto;
    }
    .choose-country {
      .demo-icon {
        right: calc(50% - 134px) !important;
      }
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .checkout-container {
    padding-bottom: 50px;
    .billing-info {
      margin: 0 auto !important;
      .title {
        margin-left: 45px;
      }
      .info {
        flex-direction: column;
        align-items: flex-start !important;
        margin-left: 45px;
      }
      form {
        padding: 16px !important;
        .basic-input {
          &:nth-child(odd) {
            margin-right: 0 !important;
          }
          input {
            width: auto;
          }
          .choose-country {
            .demo-icon {
              display: none;
            }
          }
        }
        .fed-ex {
          gap: 20px;
          height: auto !important;
          padding: 20px;
          width: auto !important;
          .radio-button {
            margin-left: 0 !important;
          }
        }
        .change-address {
          width: auto !important;
        }
        .verify {
          .check {
            min-width: 20px;
          }
        }
        .payment-method {
          padding: 12px;
          .method {
            flex-wrap: wrap;
            gap: 10px;
          }
        }
      }
    }
    .order-summary {
      border: none !important;
      margin: 0 !important;
      .promo-code {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
          &::placeholder {
            padding-left: 20px;
          }
        }
        span {
          margin-top: 10px;
        }
      }
    }
  }
  footer {
    padding-bottom: 20px !important;
    .footer-copyright {
      padding-bottom: 20px !important;
    }
  }
}
