.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}

.button-gray-1 {
  width: 167px;
  height: 48px;
  background: #F5F5F5;
  border-radius: 12px;
  font-family: "Poppins";
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-green-1 {
  width: 90px;
  height: 36px;
  border: 2px solid #46760A;
  border-radius: 12px;
  background-color: #6A983C;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  color: #FFFFFF;
}

.button-border-green-1 {
  width: 163px;
  border: 2px solid #92C064;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-border-green-1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  line-height: 22px;
  color: #151515;
}
.button-border-green-1 i {
  font-size: 16px;
  color: #6A983C;
}

.filter-top {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 16px;
  display: block !important;
}
.filter-top .pages {
  margin-bottom: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}
.filter-top .pages span {
  color: #e4e4e4;
}
.filter-top .head {
  display: flex;
}
.filter-top .head .title {
  flex: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #151515;
}
.filter-top .head .grid-view {
  display: flex;
  align-items: center;
}
.filter-top .head .grid-view .grid {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-right: 25px;
  line-height: 16px;
  color: #151515;
}
.filter-top .head .grid-view span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #e4e4e4;
  margin-right: 32px;
}
.filter-top .head .grid-view .products {
  display: flex;
}
.filter-top .head .grid-view .products .number {
  margin-right: 4px;
  width: 32px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F8EC;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}
.filter-top .filter {
  display: flex;
  align-items: center;
}
.filter-top .filter-item {
  margin-right: 16px;
  background: #f9f9f9;
  border: 1px solid #D1D1D1;
  width: 236px;
  border-radius: 12px;
  display: flex;
  padding: 11px 16px;
}
.filter-top .filter-item.nbm {
  width: 160px;
}
.filter-top .filter-item.select .verify {
  display: flex;
  align-items: center;
  border-right: 1px solid #D1D1D1;
  padding-right: 24px;
}
.filter-top .filter-item.select .verify .check {
  width: 20px;
  height: 20px;
  background-color: #6A983C;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #46760a;
  cursor: pointer;
}
.filter-top .filter-item.select .verify .check i {
  color: #fff;
  font-size: 8px;
}
.filter-top .filter-item.select .verify span {
  font-family: "Open Sans";
  font-style: normal;
  color: #151515;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 19px;
}
.filter-top .filter-item.select .verify .number {
  font-family: "Poppins";
  color: #151515;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 18px;
}
.filter-top .filter-item.select .select-filtre {
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.filter-top .filter-item.select .select-filtre span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-right: 4px;
  color: #151515;
}
.filter-top .filter-item.select .select-filtre i {
  font-size: 5px;
}
.filter-top .filter-item .filter-unit {
  display: flex;
  align-items: center;
}
.filter-top .filter-item .filter-unit input {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.filter-top .filter-item .filter-unit input + .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #D1D1D1;
  margin-right: 10px;
}
.filter-top .filter-item .filter-unit input + .checkboxBoldBorder {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
}
.filter-top .filter-item .filter-unit input + .checkboxBoldBorder::before {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #fff;
}
.filter-top .filter-item .filter-unit input + .checkboxSquare {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: solid 2px #D1D1D1;
}
.filter-top .filter-item .filter-unit span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
  margin-right: 8px;
}
.filter-top .filter-item .filter-unit .Nbm {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  border: 1px solid #EBEBEB;
  width: 46px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.filter-top .applied-filtres {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}
.filter-top .applied-filtres span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}
.filter-top .applied-filtres .selected-filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  margin-left: 12px;
  width: 118px;
  padding: 0px 8px;
  height: 18px;
  background: #F4F8EC;
  border-radius: 12px;
  padding: 0px 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}
.filter-top .applied-filtres .selected-filtre span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}
.filter-top .applied-filtres .selected-filtre.last {
  margin: 0;
}
.filter-top .applied-filtres .selected-filtre:hover {
  cursor: pointer;
  opacity: 50%;
}

@media (max-width: 768px) {
  .filter-top {
    justify-content: center;
  }
}/*# sourceMappingURL=filter-top.css.map */