@import "../partials/variables";
@import "../partials/text/text";
@import "../partials/text/buttons";
@import "../partials/mixins";

.filter-left {
  padding-left: 46px;
  padding-top: 64px;


  .title {
    @include majority-poppins-text();
    font-size: 18px;
  }

  .categories {
    padding-bottom: 48px;

    &-item {
      display: flex;
      align-items: center;

      span {
        margin-right: 100px;
        font-size: 14px;
        @include majority-open-sans-text();
        margin-bottom: 12px;
      }

      .number {
        @include greenTag();
      }
    }
  }

  .brands {
    padding-bottom: 48px;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      @include majority-open-sans-text();
      font-size: 14px;
      i {
        display: none;
      }

      .square {
        border: 2px solid $color-gray-6;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 10px;

        &.active {
          background-color: $color-green-1;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1.5px solid #46760a;
          cursor: pointer;

          i {
            color: #fff;
            font-size: 8px;
            display: block;
          }
        }
      }
    }
  }

  .rating {
    padding-bottom: 48px;

    &-item {
      display: flex;
      margin-bottom: 16px;

      .stars {
        .icon-star-full {
          color: $color-yellow-1;
        }

        .icon-star-light {
          color: $color-gray-6;
        }
      }

      .box {
        border: 2px solid $color-gray-6;
        width: 20px;
        height: 20px;

        cursor: pointer;
        margin-right: 10px;
      }
    }
  }

  .price {
    position: relative;

    .parent-ball {
      display: inline-flex;
      position: relative;

      .min-ball,
      .max-ball {
        width: 20px;
        height: 20px;
        border: 1px solid $color-gray-6;
        border-radius: 12px;
        background-color: #fff;
        z-index: 1;
      }
      .min-ball {
        margin-left: 40px;
        margin-right: 58px;
      }
      .bar {
        width: 250px;
        height: 6px;
        bottom: 6px;
        background: $color-gray-7;
        position: absolute;

        border-radius: 12px;
        display: flex;
        .fill {
          background: #6a983c;
          border-radius: 12px;
          position: absolute;
          width: 80px;
          height: 6px;
          left: 50px;
        }
      }
    }

    .extreme {
      margin-top: 23px;
      display: flex;
      align-items: center;

      .min {
        display: flex;
        flex-direction: column;
        span {
          @include majority-poppins-text();
        }

        input {
          height: 42px;
          background: #f9f9f9;
          border: 1px solid $color-gray-6;
          width: 110px;
          border-radius: 12px;

          &::placeholder {
            padding-top: 12px;
            padding-right: 16px;
            padding-bottom: 12px;
            padding-left: 21px;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: $color-gray-3;
          }
        }
      }

      span {
        padding-right: 14px;
        padding-left: 14px;
      }

      .max {
        display: flex;
        flex-direction: column;
        span {
          @include majority-poppins-text();
        }

        input {
          background: #f9f9f9;
          border: 1px solid $color-gray-6;
          border-radius: 12px;
          width: 110px;
          height: 42px;

          &::placeholder {
            padding-top: 12px;
            padding-right: 16px;
            padding-bottom: 12px;
            padding-left: 21px;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: $color-gray-3;
          }
        }
      }
    }

    .buttons {
      margin-top: 31px;
      display: flex;
      align-items: center;

      .apply {
        margin-right: 46px;

        width: 78px;
        height: 48px;
      }

      .reset {
        color: $color-gray-3;
        width: 43px;
        height: 23px;
        border: none;
        background-color: transparent;
      }
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .filter-left {
    margin: 0 auto;
    .categories {
      width: 268px;
      text-align: center;
      cursor: pointer;
      &-item {
        justify-content: center;
      }
      .title {
        margin-bottom: 25px;
      }
    }
    .brands {
      text-align: center;
      width: 268px;
      cursor: pointer;
      &-item {
        justify-content: center;
      }
      .title {
        margin-bottom: 25px;
      }
    }
    .rating {
      width: 268px;
      text-align: center;
      cursor: pointer;
      &-item {
        justify-content: center;
      }
      .title {
        margin-bottom: 25px;
      }
    }
    .price {
      width: 268px;
      text-align: center;
      cursor: pointer;

      .title {
        margin-bottom: 25px;
      }
    }
    .brands,
    .categories,
    .rating,
    .price {
      .content {
        display: none;
       
      }
    }
  }
}
