.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}

.button-gray-1 {
  width: 167px;
  height: 48px;
  background: #f5f5f5;
  border-radius: 12px;
  font-family: "Poppins";
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-green-1 {
  width: 90px;
  height: 36px;
  border: 2px solid #46760A;
  border-radius: 12px;
  background-color: #6a983c;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  color: #FFFFFF;
}

.button-border-green-1 {
  width: 163px;
  border: 2px solid #92C064;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-border-green-1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  line-height: 22px;
  color: #151515;
}
.button-border-green-1 i {
  font-size: 16px;
  color: #6a983c;
}

.product-view .images {
  position: relative;
}
.product-view .images img {
  width: 569px;
  height: 436px;
  margin-right: 32px;
  border-radius: 12px;
  margin-bottom: 32px;
}
.product-view .images .tags {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
}
.product-view .images .tags .green-tag {
  background: #f4f8ec;
  border-radius: 12px;
  padding: 0px 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
}
.product-view .images .tags .discount {
  margin-right: 12px;
}
.product-view .product-content {
  flex-direction: column;
}
.product-view .product-content .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-size: 32px;
}
.product-view .product-content .review {
  display: flex;
  margin-bottom: 42px;
}
.product-view .product-content .review .rating {
  margin-right: 10px;
}
.product-view .product-content .review .rating .demo-icon {
  font-size: 16px;
  color: #fdbc15;
}
.product-view .product-content .review .rating .demo-icon.icon-star-light {
  color: #a9a9a9;
}
.product-view .product-content .review .number-review {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #151515;
  color: #a9a9a9;
  font-weight: 700;
}
.product-view .product-content .review .number-review span {
  text-decoration: underline;
}
.product-view .product-content .description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #151515;
  font-weight: 700;
  font-size: 17px;
}
.product-view .product-content .details {
  display: flex;
}
.product-view .product-content .details ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.product-view .product-content .details ul.break-list {
  margin-left: 59px;
}
.product-view .product-content .details ul li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #151515;
  font-size: 14px;
  color: #a9a9a9;
  font-weight: 700;
  margin-bottom: 12px;
}
.product-view .product-content .details ul li.Highlighted {
  color: #6a983c !important;
}
.product-view .product-content .details ul.values li {
  color: #151515;
}
.product-view .product-content .details ul.values li.underline {
  text-decoration: underline;
}
.product-view .product-content .buy-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-view .product-content .buy-section .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  font-size: 26px;
  font-weight: 400;
}
.product-view .product-content .buy-section .price .last-price {
  font-size: 12px;
  color: #a9a9a9;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.product-view .product-content .buy-section .btns {
  display: flex;
}
.product-view .product-content .buy-section .btns .number-of-products {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin-right: 25px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  gap: 16px;
}
.product-view .product-content .buy-section .btns .number-of-products .number {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #151515;
  color: #a9a9a9;
  padding-right: 16px;
  font-size: 14px;
  border-right: 1px solid #d1d1d1;
}
.product-view .product-content .buy-section .btns .number-of-products .pcs {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  font-size: 12px;
  margin-right: 8px;
}
.product-view .product-content .buy-section .btns .number-of-products .pcs .demo-icon {
  font-size: 12px;
}
.product-view .product-content .buy-section .btns .add-to-cart {
  padding: 12px 16px;
  width: 140px;
}
.product-view .product-content .buy-section .btns .add-to-cart span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
}
.product-view .product-content .buy-section .btns .add-to-cart span.plus {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
}
.product-view .product-content .another-options {
  display: flex;
}
.product-view .product-content .another-options .option {
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding: 6px 12px;
  padding-left: 0;
}
.product-view .product-content .another-options .option span {
  margin-left: 7px;
}
.product-view .product-content .another-options .option .demo-icon {
  font-size: 12px;
  color: #e5704b;
  display: flex;
  align-items: center;
}
.product-view .product-content .tabs {
  margin-top: 60px;
  justify-content: space-between;
  margin-inline: 0;
  margin-bottom: 48px;
}
.product-view .product-content .tabs .tab {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  cursor: pointer;
  padding-bottom: 16px;
  align-items: center;
}
.product-view .product-content .tabs .tab.active {
  border-bottom: 1px solid #6a983c;
}
.product-view .product-content .tabs .tab .tab-tag {
  background: #f4f8ec;
  border-radius: 12px;
  padding: 0px 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  margin-left: 8px;
}
.product-view .product-content .accordionContentAcc .title-box {
  display: flex;
  align-items: center;
}
.product-view .product-content .accordionContentAcc .title-box .how-to-cook {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  font-size: 15px;
}
.product-view .product-content .accordionContentAcc .title-box .demo-icon {
  display: flex;
  justify-content: center;
}
.product-view .product-content .accordionContentAcc .contentAcc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #151515;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 32px;
}
.product-view .product-content .table-row {
  display: flex;
}
.product-view .product-content .table-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  flex: 1;
  padding: 8px;
  font-weight: 400;
  border-bottom: 1px solid #f5f5f5;
}
.product-view .product-content .table-cell {
  flex: 1;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  background-color: #fdfdfd;
  padding: 8px;
  color: #575757;
}

@media (max-width: 768px) {
  .product-view {
    flex-direction: column !important;
  }
  .product-view .images {
    display: flex;
    justify-content: center;
  }
  .product-view .images img {
    width: 80%;
    height: 80%;
  }
  .product-view .product-content {
    align-items: flex-start;
    text-align: center;
    margin-left: 20px;
  }
  .product-view .product-content .title {
    margin-top: 20px;
    line-height: 30px;
  }
  .product-view .product-content .buy-section {
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #f5f5f5;
    border-radius: 12px;
  }
  .product-view .product-content .buy-section .price {
    text-align: left;
  }
  .product-view .product-content .another-options {
    flex-direction: column;
  }
}/*# sourceMappingURL=product-view.css.map */