@import "../partials/variables";
@import "../partials/text/text";
@import "../partials/text/buttons";
@import "../partials/mixins";

.slider {
  background: $color-gray-2;
  padding-top: 70px;
  padding-bottom: 90px;

  .routes {
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;

    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: $color-black-1;
    }

    .go-to {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      padding: 6px 12px;
      border-radius: 12px;
      background-color: #fff;
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        
        cursor:pointer;
      }

      i {
        color: $color-green-1;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;

    @include arrows();

    &-item {
      padding: 24px 32px;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      border: 1px solid #f1f1f1;
      border-radius: 12px;
      margin-right: 32px;
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: $color-black-1;
        margin-bottom: 24px;
        

        &.name {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: $color-gray-1;
        }
      }
    }
  }
}
@media (max-width:$mobile-breakpoint) {

  .category-menu{
    flex-direction: column;
  }
  .routes{
    justify-content: center;
  }
  .content{
    .arrow-left{
      margin: 0 !important ;
      margin-left: auto !important;
      &.right{
        margin: 0 !important;
        margin-left: 0 !important;
        margin-right: auto !important;
      }
    }
    &-item{
      margin: 0 !important;
    }
  }
}
