@import "../partials/variables";
@import "../partials/text/text";
@import "../partials/text/buttons";
@import "../partials/mixins";

.slider {
  background: $color-gray-2;
  padding-top: 70px;
  padding-bottom: 90px;
  max-width: 1350px;
  position: relative;
  margin: 0 auto;
  &.blog-details-slider {
    padding: 0;
    background-color: #fff;
    max-width: 1260px !important;
    .routes {
      padding-top: 64px;
      margin-bottom: 0;
      padding-bottom: 32px;
      padding-left: 45px;
      padding-right: 45px;
      background-color: #fff;
    }
  }
  .routes {
    margin-bottom: 39px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    justify-content: space-between;
    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: $color-black-1;
    }

    .go-to {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      padding: 6px 12px;
      border-radius: 12px;
      background-color: #fff;
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;

        cursor: pointer;
      }

      i {
        color: $color-green-1;
      }
    }
  }

  .slider-content {
    display: flex;
    align-items: center;
    gap: 32px;
    .arrow-left {
      @include arrow();
      border-top-left-radius: 25%;
      border-bottom-left-radius: 25%;
      i {
        color: #fff;
        font-size: 24px;
      }
    }

    &-item {
      padding: 24px 32px;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      border: 1px solid #f1f1f1;
      border-radius: 12px;
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: $color-black-1;
        margin-bottom: 24px;

        &.name {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: $color-gray-1;
        }
      }
    }
    .arrow-right {
      @include arrow();
      border-top-right-radius: 25%;
      border-bottom-right-radius: 25%;
      i {
        z-index: 1;
        color: #fff;
        font-size: 24px;
      }
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .slider {
    padding-inline: 0 !important;
    .category-menu {
      flex-direction: column;
    }
    .routes {
      justify-content: space-between;
      padding: 0 !important;
      padding-left: 16px !important;
    }
    .content {
      flex-direction: row !important;
      padding: 0 !important;
      .arrow-left {
        margin-left: auto !important;
        margin-right: 0 !important;
      }
      .arrow-right {
        margin: 0 !important;
        margin-left: 0 !important;
        margin-right: auto !important;
      }
      &-item {
        margin: 0 !important;
      }
    }
  }
}
