@import "../partials/mixins";
@import "../partials/variables";

footer {
  font-family: "Poppins", sans-serif;
  padding-top: 64px;
  display: block !important;
  background-color: #fff;
  .footer-top {
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    &:first-child {
      margin-left: 22px;
    }
    &:last-child {
      margin-right: 45px;
    }
    &.item {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
    .title {
      color: $color-black-1;
    }

    .title:hover {
      opacity: 50%;
      cursor: pointer;
    }

    ul {
      @include reset-list;

      li {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 16px;
        color: $color-green-1;
      }

      li:hover {
        opacity: 50%;
        cursor: pointer;
      }
    }
  }

  .footer-content {
    .title {
      color: $color-black-1;
      margin-left: 45px;
    }
    ul {
      @include reset-list;
      margin-left: 45px;
      li {
        display: inline-flex;
        padding: 4px 10px;
        background-color: $color-gray-1;
        border-radius: 12px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: $color-black-1;
        margin-bottom: 16px;
        margin-right: 16px;
      }
    }
  }

  .footer-copyright {
    padding-top: 64px;
    margin-left: 45px;
    padding-bottom: 64px;
    font-size: 14px;
    line-height: 19px;
    font-family: "Open Sans", sans-serif;
  }
}
@media (max-width: $mobile-breakpoint) {
  .footer-copyright {
    margin-left: 0 !important;
    padding-top: 20% !important;
  }
}
